# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
test/*.txt
test/*.py
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.exif
test/test.jpg
test/Profil.jpg
test/CEA_copy.tif
test/c41078a1.tif
test/BOGOTA.tif
test/IMG_20150730_210115 - Copie.jpg
test/tumbnail.jpg
test/test2.jpg
doc/python-logo-outline-160.png
doc/2580-512.png
doc/python-512.ico
doc/Media_Viewer_Icon_-_Tag.png
doc/tyf.xcf
test/test loose.jpg
test/test looseless.jpg
test/test looseles.jpg
test/IMG_TEST_003.jpg
test/issue.7.jpg
test/test.7.jpg
test/dump.png
dumps2json.py.zip
